:root {
  --red: #ff6f69;
  --beige: #ffeead;
  --yellow: #ffcc5c;
}

html, body {
  background: var(--beige);
  color: var(--red);
}

h1, p {
  color: var(--red);
}

/* create local scope - don't put this inside the root (global scope) 
this scope will only allow --navcolor variable to be used inside of navbar -- limited scope!
*/
#navbar {
  --navcolor: CornflowerBlue ;
}

#navbar a {
  color:  var(--navcolor);
}

/* re-assigning the red variable - all the elements within item class with using red gets updated */
.item {
  --red:#ff8e69;
  background: var(--yellow);
}

.done {
 --red:#ff5564;
}

button {
  background: var(--red);
  color: #ffcc5c;
}